.flex{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
ul>li{
    list-style-type: none;
    
}
ul>li>a{
    padding:1rem;
    display:block;
    text-decoration: none;
}
nav{
    background-color: aquamarine;
}
nav>ul:first-child>li{
    border-right: 1px solid;
}
ul{
    padding: 0;
    margin:0;
}
nav ul a:hover{
    /* background-color: blue; */
    background-image: linear-gradient(darkblue,blue);
    color:white;
}
header{
    background-image: linear-gradient(darkblue,blue);
    margin-top:10px;
}
header>img{
    width: 500px;
    color:white;
}
header>div.title{
    color:white;
    font-size: 3rem;
    text-shadow: 5px 7px 2px gray;
}
footer{
    background-color: #0a6fa3;
}
footer>ul>li{
    color:white;
}
footer>img{
    width: 280px;
}
.course{
    width: 70%;
    margin: auto;
}
.course>.part:last-child{
    border-radius: 0 0 20px 20px;
}
.course>h2{
    background-image: linear-gradient(darkblue,blue);
    color:white;
    margin: 5px 0 0 0;
    padding: 15px;
    border-radius:20px 20px 0 0;
}
.avt{
    width: 130px;
    border-radius: 50%;
    margin-right: 50px;
    animation: xoay 1s linear infinite;
}
@keyframes xoay{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.part{
    font-size: 1.4rem;
    background-color: rgb(91, 144, 223);
    border-bottom: 1px solid white;
}
.part>div{
    padding:20px;
}
.part>div:last-child>p{
    color:white;
}
.part>div:last-child a{
    text-decoration: none;
}
.part>div:nth-child(2)>ul>li{
    color:white;
}
p{
    direction: rtl;
}
.ads>div{
    width: 12%;
    text-align: center;
    font-size: 3rem ;
    color:white;
    padding: 10rem 0;
    position: fixed;
    border-radius: 30px;
    animation: doimau 500ms linear infinite;
}
@keyframes doimau{
    0% {background-color: blue;}
    25% {background-color: red;}
    50% {background-color: purple;}
    75% {background-color: yellow;}
}
.ads>div:first-child{
    left: 1%;
}
.ads>div:last-child{
    right: 1%;
}